@font-face {
  font-family: "Roboto-Regular";   
  src: local("Roboto-Regular"),
    url("./fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Black";   
  src: local("Roboto-Black"),
    url("./fonts/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-BlackItalic";   
  src: local("Roboto-BlackItalic"),
    url("./fonts/Roboto-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";   
  src: local("Roboto-Bold"),
    url("./fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-BoldItalic";   
  src: local("Roboto-BoldItalic"),
    url("./fonts/Roboto-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Italic";   
  src: local("Roboto-Italic"),
    url("./fonts/Roboto-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Light";   
  src: local("Roboto-Light"),
    url("./fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-LightItalic";   
  src: local("Roboto-LightItalic"),
    url("./fonts/Roboto-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";   
  src: local("Roboto-Medium"),
    url("./fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";   
  src: local("Roboto-Regular"),
    url("./fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Thin";   
  src: local("Roboto-Thin"),
    url("./fonts/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-ThinItalic";   
  src: local("Roboto-ThinItalic"),
    url("./fonts/Roboto-ThinItalic.ttf") format("truetype");
}

a {
  text-decoration: none; 
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
